/* *** commons *** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #69785e;
    font-family: 'Road Rage', cursive;
}

/* *** titolo e select */

h1 {
    color: #beaf5f;
    font-size: 150px;
    text-align: center;
}

.level {
    margin-top: -30px;
    color: #5a4b50;
    font-size: 80px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

/* *** griglia *** */

.container {
    width: 700px;
    height: 700px;
    margin: 50px auto;
    border: 2px solid #beaf5f;
    /* clearfix */
    content: "";
    display: table;
    clear: both;
}

.cube {
    border: 2px solid #beaf5f;
    float: left;
}

.cube.easy {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.cube.medium {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.cube.hard {
    width: calc(100% / 7);
    height: calc(100% / 7);
}